name: Node.js CI

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x, 22.x]

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    # Install dependencies inside backend folder
    - name: Install Packages
      run: |
        cd backend
        npm install

    # Start server from backend folder
    - name: Start Server
      run: |
        cd backend
        nohup node server.js > ../server.log 2>&1 &
        sleep 5

    # Stop server
    - name: Stop Server
      run: |
        pkill node || true

    # Show logs if any step failed
    - name: Server Logs (if failed)
      if: failure()
      run: cat server.log
